
.login_error {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

.custom_button {
    -fx-text-fill: white;
    -fx-background-color: #2196f3;
    /*-fx-font-weight: bold; */
    /* -fx-background-color: linear-gradient(#61a2b1, #2A5058); */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.login_button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.register:hover {
	-fx-underline: true;
}

.reset:hover {
	-fx-underline: true;
}